blinker==1.9.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.0
Flask==3.1.0
Flask-Cors==5.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
ntplib==0.4.0
pillow==11.1.0
psutil==6.1.1
pycparser==2.22
PyKCS11==1.5.17
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
pystray==0.19.5
requests==2.32.3
six==1.17.0
urllib3==2.3.0
Werkzeug==3.1.3
